h2 {
    margin: 7rem 0 2rem 0;
}

/* section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100wh;
    height: 100vh;
}

.btn {
    margin-top: 10px;
} */
