h2 {
    margin: 7rem 0 2rem 0;
}

/* section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100wh;
    height: 100vh;
}
*/
.btn {
    margin-top: 10px;
}

label {
    padding: 0.5rem;
}

.text-detail {
    padding: 5px;
    text-decoration: none;
}

.text-detail:hover {
    color: #000;
}
