.custom-text {
    color: #fff;
}

.custom-links {
    color: #fff;
}

.custom-color {
    background: #fff;
}

/* .detail-cart {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    color: #fff;
    border-radius: 50%;
    background-color: red;
} */