.custom-text {
    color: #fff;
}

.custom-links {
    color: #fff;
}

.custom-color {
    background: #fff;
}

.detail-cart {
    position: absolute;
    top: 3px;
    right: 240px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    width: 20px;
    color: #0d6efd;
    border-radius: 50%;
    background-color: #fff;
}

.detail-favorite {
    position: absolute;
    top: 3px;
    right: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    width: 20px;
    color: #0d6efd;
    border-radius: 50%;
    background-color: #fff;
}